@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 62.5%;
}

:root {
    /* colors */
    --nav-blue: #1992D4;
    --nav-blue-selected: #0076b6;
    --nav-grey: #E2E8F0;
    --nav-shadow: #CDD2D9;
    --nav-greyslate: #768aa3;
    --nav-darkgrey: #333333;
    --text-grey: #636363;
    /* font sizes */
    --title: 2.7rem;
    --title-1: 2.3rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --title-4: 1.2rem;
    --white-looks-large: 0.9;
    /* padding */
    --standard-pad: 18px;
    --double-pad: calc(var(--standard-pad)*2);
    --sidebar: 81px;
    /* icon sizes */
    --logo-size: 4.5rem;
}


h1 {
    font-size: var(--title-1);
}

h2 {
    font-size: var(--title-2);
}

h3 {
    font-size: var(--title-3);
}

h4 {
    font-size: var(--title-4);
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
}

.container {
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.37, -0.29, 0.37, 0.98);
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 81px 4fr;
    min-height: 100vh;

}

.container:has(.sidebar.activated)
/*, .container:has(.sidebar:hover)*/ {
    grid-template-columns: 320px 4fr;
}

.container > :not(.sidebar) {
    grid-column: 2/3;
}

/* Buttons, inputs, icons */

button {
    display: grid;
    align-items: center;
    background: none;
    border-style: none;
    cursor: pointer;
    font-family: inherit;
}

button.action {
    background-color: var(--nav-blue);
    color: white;
    font-size: calc(var(--title-2)*var(--white-looks-large));
    font-weight: 500;
    width: 10rem;
    border-radius: 2rem;
    height: 4rem;
    transition: 0.3s;
}

button.action:hover {
    background-color: var(--nav-blue-selected);
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input::placeholder {
    color: var(--nav-greyslate);
}

input[type="search"] {
    font-family:inherit;
    appearance: none;
    color: var(--nav-greyslate);
    background-color: var(--nav-grey);
    border-style: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.8rem 1.6rem;
    border-radius: 1.6rem;
    height: 3.2rem;
    transition: 0.4s;
}

input[type="search"]:focus-visible {
    outline: none;
    background-color: white;
    color: black;
    box-shadow: 0 0 7px -1px var(--nav-greyslate);
}

img.white {
    filter: invert(1);
}

img.logo {
    height: var(--logo-size);
}

img.icon {
    height: 2.4rem;
    justify-self: center;
}

.profile-icon {
    height: 4.8rem;
}

.profile-icon.large {
    height: 7rem;
}

/* sidebar stuff; */

.sidebar {
    grid-column: 1/2;
    grid-row: 1/span 5;
    background-color: var(--nav-blue);
    color: white;

    padding: var(--standard-pad) 0px;
    display: grid;
    grid-auto-rows: var(--logo-size);
    overflow: hidden;
}

.sidebar.activated,
.sidebar:hover {
    overflow: unset;
}

.sidebar .sidebar-item,
.sidebar .sidebar-title {
    display: grid;
    padding: 0px var(--standard-pad);
    grid-template-columns: var(--logo-size) 1fr;
    align-items: center;
    gap: var(--standard-pad);
    cursor: pointer;
    transition: 0.3s;
}

.sidebar .sidebar-item:hover {
    background-color: var(--nav-blue-selected);
    box-shadow: 0px 0px 4px 2px var(--nav-blue-selected);
}

.sidebar h1 {
    font-size: var(--title);
}

.sidebar h2 {
    font-size: calc(var(--title-1)*0.8);
    font-weight: 700;
}

/* nav bar stuff; */

.nav {
    background-color: white;
    padding: var(--standard-pad) var(--double-pad);
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.nav .search {
    display: grid;
    grid-template-columns: max-content minmax(auto, 700px);
    gap: 15px;
    align-items: center;
}

.nav .user-nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 25px;
    align-items: center;
    padding: 0px var(--standard-pad);
}

/* action bar stuff */

.action-bar {
    background-color: white;
    padding: 0 var(--double-pad) var(--standard-pad);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.action-bar .user-nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: var(--standard-pad);
    align-items: center;
}

.action-bar .user-nav .welcome-stack {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 0.2rem;
}

.action-bar .action-buttons {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, max-content);
}

/* main stuff */

.main {
    background-color: var(--nav-grey);
    padding: 0px var(--standard-pad);
    box-shadow: inset 0px 8px 3px -4px var(--nav-shadow);
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: var(--standard-pad);
}

.main h2 {
    font-weight: 500;
}

.content-box {
    padding-top: calc(var(--double-pad));
    display: grid;
    grid-template-rows: max-content auto;
    gap: calc(var(--standard-pad)*0.6);
}

.cards {
    display: grid;
    gap: var(--standard-pad);
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-auto-rows: 170px;
}

.card {
    border-radius: 0.8rem;
    background-repeat: no-repeat;
    background-color: white;
    background-image: linear-gradient(to right, #FACC15, #FACC15);
    background-size: 0.8rem auto;
    padding: calc(var(--standard-pad) + 0.8rem);

    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-content: space-between;
}

.card .user-nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 25px;
    justify-self: end;
    filter: invert(16%) sepia(28%) saturate(0%) hue-rotate(187deg) brightness(105%) contrast(93%);
}

.text-block p {
    color: var(--text-grey);
}

.text-block:has(h3) p {
    font-size: 1.4rem;
}