@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
}

:root {
    /* colors */
    --nav-blue: #1992D4;
    --nav-blue-selected: #0076b6;
    --nav-grey: #E2E8F0;
    --nav-darkgrey: #333333;
    /* font sizes */
    --title: 2.4rem;
    --title-1: 2.3rem;
    --title-2: 1.8rem;
    --title-3: 1.5rem;
    --title-4: 1.2rem;
    --white-looks-large: 0.9;
    /* padding */
    --standard-pad: 18px;
    --double-pad: calc(var(--standard-pad)*2);
    /* icon sizes */
    --logo-size: 4.5rem;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.container > :not(.sidebar) {
    grid-column: 2/3;
}

/* Buttons, inputs, icons */

button {
    display: grid;
    align-items: center;
    background: none;
    border-style: none;
    cursor: pointer;
    font-family: inherit;
}

button.action {
    background-color: var(--nav-blue);
    color: white;
    font-size: calc(var(--title-2)*var(--white-looks-large));
    font-weight: 700;
    width: 10rem;
    border-radius: 2rem;
    height: 4rem;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="search"],
input[type="search"]:focus-visible {
    font-family:inherit;
    appearance: none;
    background-color: var(--nav-grey);
    border-style: none;
    outline: none;
    font-size: 2rem;
    font-weight: 300;
    padding: 0.8rem 1.6rem;
    border-radius: 1.6rem;
    height: 3.2rem;
}

img.white {
    filter: invert(1);
}

img.logo {
    height: var(--logo-size);
}

img.icon {
    height: 2.4rem;
    justify-self: center;
}

.profile-icon {
    height: 4.8rem;
}

.profile-icon.large {
    height: 7rem;
}

/* sidebar stuff; */

.sidebar {
    grid-column: 1/2;
    grid-row: 1/span 5;
    background-color: var(--nav-blue);
    color: white;

    padding: var(--standard-pad) 0px;
    display: grid;
    grid-auto-rows: var(--logo-size);
}

.sidebar .sidebar-item,
.sidebar .sidebar-title {
    display: grid;
    padding: 0px var(--standard-pad);
    grid-template-columns: var(--logo-size) 1fr;
    align-items: center;
    gap: var(--standard-pad);
    cursor: pointer;
    transition: 0.3s;
}

.sidebar .sidebar-item:hover {
    background-color: var(--nav-blue-selected);
    box-shadow: 0px 0px 4px 2px var(--nav-blue-selected);
}

.sidebar h1 {
    font-size: var(--title);
}

.sidebar h2 {
    font-size: calc(var(--title-1)*var(--white-looks-large));
    font-weight: 700;
}

/* nav bar stuff; */

.nav {
    background-color: white;
    padding: var(--standard-pad) var(--double-pad);
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.nav .search {
    display: grid;
    grid-template-columns: max-content minmax(auto, 700px);
    gap: 15px;
    align-items: center;
}

.nav .user-nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 25px;
    align-items: center;
    padding: 0px var(--standard-pad);
}

.user-nav h1 {
    font-size: var(--title-1);
}

.user-nav h2 {
    font-size: var(--title-2);
}

.user-nav h3 {
    font-size: var(--title-4);
}

/* action bar stuff */

.action-bar {
    background-color: white;
    padding: 0 var(--double-pad) var(--standard-pad);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.action-bar .user-nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: var(--standard-pad);
    align-items: center;
}

.action-bar .user-nav .welcome-stack {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 0.2rem;
}

.action-bar .action-buttons {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, max-content);
}

/* main stuff */

.main {
    background-color: var(--nav-grey);
}

